:root {
  /* Основные шрифты */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  /* Цвет заголовков текста светлой темы */
  --white-title-color: #212121;
  /* Вторичный цвет текста светлой темы */
  --secondary-font-color: #757575;
  /* Цвет текста темной темы */
  --black-title-font-color: #ffffff;
  /* Вторичный цвет текста темной темы */
  --black-secondary-font-color: rgba(255, 255, 255, 0.6);

  /* Цвет акцента */
  --accent-color: #2196f3;
  /* Вторичный цвет акцента */
  --secondary-accent-color: #188ce8;
  /* Вторичный цвет логотипа */
  --secondary-logo-color: #000000;

  /* Цвет фона основной */
  --background-color: #ffffff;
  /* Цвет фона темной темы */
  --dark-background-color: #2f303a;
  /* Вторичный цвет фона темной темы */
  --dark-secondary-background-color: #f5f4fa;
  /* Цвет фона карточек команды */
  --card-background-color: #ffffff;
}
body {
  font-family: var(--main-font);
  color: var(--white-title-color);
  background-color: var(--background-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
/* INDEX HTML */
/* logo */

.nav-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.nav-studio {
  color: var(--secondary-logo-color);
  margin-right: 93px;
}

/* nav */

.nav {
  display: flex;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.nav-item {
  margin-right: 50px;
}
.nav-item:last-child {
  margin: 0;
}
.nav-link {
  text-decoration: none;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--white-title-color);

  padding-top: 10px;
  padding-bottom: 10px;
}
.current-link {
  color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* auth-nav */

.auth-nav-list {
  list-style: none;
  display: flex;
  margin-left: auto;
  align-items: center;
}

.auth-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-font-color);
  text-decoration: none;

  padding-top: 10px;
  padding-bottom: 10px;
}
.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
}
.mail {
  margin-right: 50px;
}

/* hero */

.hero {
  padding: 200px 0;
  background-color: var(--dark-background-color);
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  margin: 0 auto;
  width: 696px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--black-title-font-color);
}
.hero-button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-family: inherit;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  min-width: 200px;
  height: 50px;
  align-items: center;
  letter-spacing: 0.06em;

  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  color: var(--black-title-font-color);
  background-color: var(--accent-color);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--secondary-accent-color);
}

/* features */

.features {
  padding-bottom: 0;
}
.features-list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.features-link {
  flex-basis: 270px;
}
.features-link:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-title-color);
}
.features-text {
  line-height: 1.71;
  color: var(--secondary-font-color);
}

/* examples */

.examples-list {
  display: flex;
  justify-content: center;
}
.examples-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--white-title-color);
}
.examples-link:not(:last-child) {
  margin-right: 30px;
}

/* team */

.team {
  background-color: var(--dark-secondary-background-color);
}
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--white-title-color);
}
.team-list {
  display: flex;
  justify-content: center;
}
.team-link {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  portfolio: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--background-color);
}
.team-link:not(:last-child) {
  margin-right: 30px;
}
.team-img {
  width: 270px;
}
.team-text-container {
  margin: 30px 0;
}
.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--white-title-color);
}
.team-text {
  /* margin-bottom: 30px; */
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-font-color);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}

.footer-logo {
  margin-bottom: 20px;
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}
.footer-studio {
  color: var(--black-title-font-color);
  text-decoration: none;
}

/* address */
.footer-list {
  list-style: none;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link {
  font-weight: 400;
  line-height: 1.71;
  color: var(--black-secondary-font-color);
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--black-title-font-color);
}
.address {
  font-style: normal;
}
/* PORTFOLIO HTML */

/* Секция Фильтры */

.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-nav-button {
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-title-color);
  background-color: var(--dark-secondary-background-color);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--black-title-font-color);
  background-color: var(--accent-color);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--white-title-color);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-font-color);
}
.portfolio-img {
  width: 370px;
}
